#post-body-content {
    visibility: hidden;
}

#post-body-content td:nth-child(2) {
    width: 75%;
}

.ajax_form .form-table input[type=text] {
	width: 100%;
	max-width: 500px;
	margin-bottom: 6px;
}

.ajax_form .form-table textarea {
	width: 100%;
	max-width: 500px;
	height: 50px;
	margin-bottom: 6px;
}

.ajax_form .spinner {
	float: none;
}
